<%= form_with(model: [@article, @article.comments.build], local: true) do |form| %>

  <div class="field">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>

  <div class="field">
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
